{%extends 'art_gallery/base.html'%}

{% block content %}
{{ block.super}}


{% for category in category_posts|slice:":1"  %}
  <h2>Category :{{category.image_category.category}}</h2>

{% endfor %}
<div class="container">
    <div class="row">
        {% for category in category_posts %}
          <div class="col-md-3">
            <img  src="{{category.image.url}}" width="270px" height="250px" style="margin-top:9px;border-radius: 5%;">                
            <p>{{category.image_description}}</p>
          </div>
        
        {% endfor %}
    </div>
</div>


{% endblock %}