{%extends 'art_gallery/base.html'%}

{% block content %}
{{ block.super}}

<div class="container">
    <div class="row" >
        {% for image in images %}
        <div class="col-md-4">
            <img  src="{{image.image.url}}" width="270px" height="250px" style="margin-top:9px;border-radius: 5%;">                
            <p>{{image.image_description}}</p>
            <i class="fa fa-map-marker" aria-hidden="true" style="display:inline-block">~<p style="display:inline-block" >{{ image.image_location.location }}</p></i>
            <p>{{ image.image_category.category }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}